html, body {
    height: 100%; width: 100%; margin: 0; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #181E45;
    align-items: center;
    overflow-y: hidden;
    align-items: flex-end;
    justify-content: flex-end;
}
.menu-container{
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;   

}
.item{
    width: 100%;
    height: auto;
    transition: 0.3s;
    object-fit: cover;   
}

.logout{
    width: 40%;
    height: 2.5%;
    margin-top: 190%;
}
.box{
    width: 96%;
    height: 99.5%;
    background-color: #f0f8ff;
    border-radius: 1% 0% 0% 0%;
    overflow-y:auto;
    object-fit: cover;
}
.box::-webkit-scrollbar {
    display:none;
  }
.item:hover{
    transform: scale(1.3);
}
.img-wrap{
    width: 40%;
    height: 2.5%;
    margin-bottom: 150%;
}
.top-img{
    margin-top: 70%;
}