#tittel {
    position: absolute;
    top: 5%;
    left: 12%;
    font-family: verdana;
    width: fit-content;
    height: fit-content;
    color: black;
}
#my-chart.line {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
}
.chart-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 96%;
    top: 15%;
    justify-content: space-around;
}
.charts{
    height: 80%;
    width: 20%;
    border-radius: 2%;
}
.daily{
    height: 80%;
    width: 21%;
    border-radius: 2%;
}
.numbers-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 96%;
    height: 15%;
    position: absolute;
    top: 70%;
}
.numbers-item{
    background-color: rgba(24, 30, 69, .8);
    height: 100%;
    width: 20%;
    border-radius: 10%;
    text-align: center;
}
#income{
    margin-left: 8%;
}
#expenses{
    margin-right: 8%;
}
#income-avr{
    margin-top: 10%;
    color: aliceblue;
}

.change-photo{
    width: 70%;
    height: auto;
    transition: .5s;
}
.change-photo:hover{
    transform: scale(1.2);
}
.change-div{
    width: 25%;
}
.change-container-year{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 7%;
    top: 1%;
}
.change-container-day{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40%;
    top: 1%;
}

.popup-container{
    top: 5%;
    left: 42%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #90B045;
    width: 20%;
    text-align: center;
}
#change-out{
    margin-top: 10%;
    color: aliceblue;

}
#change-text{
    color: aliceblue;
    margin-top: 10%;
}