#bakgrunn {
    background-color: #e5e5e5;
    position: absolute;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.container {
justify-content: flex-start;
}

#infobox {
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    left: 84px;
    right: 10px;
    bottom: 10px;
    border-radius: 6px;
}

#resbilde0 {
    background-color: #C4C4C4;
    position: relative;
    top: 25px;
    left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

#frogner {
    font-family: Verdana;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

#txtBox0 {
    position: absolute;
    top: 5px;
    left: 391px;
    height: 58px;
    width: auto;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

#resbilde1 {
    background-color: #C4C4C4;
    position: relative;
    top: 50px;
    left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

#grünerløkka {
    font-family: Verdana;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

#txtBox1 {
    position: absolute;
    top: 215px;
    left: 391px;
    height: 58px;
    width: auto;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

#resbilde2 {
    background-color: #C4C4C4;
    position: relative;
    top: 75px;
    left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

#bygdøy {
    font-family: Verdana;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

#txtBox2 {
    position: absolute;
    top: 420px;
    left: 391px;
    height: 58px;
    width: auto;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

#resbilde3 {
    background-color: #C4C4C4;
    position: relative;
    top: 100px;
    left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

#akerBrygge {
    font-family: Verdana;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

#txtBox3 {
    position: absolute;
    top: 625px;
    left: 391px;
    height: 58px;
    width: auto;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}