#bakgrunn {
    background-color: #e5e5e5;
    position: absolute;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

ul#redigerListe li {
    display: inline;
    position: relative;
    top: 0px;
    left: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: verdana;
    width: fit-content;
    height: fit-content;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
}

#add-popup {
    position: absolute;
    width: 30%;
    height: auto;
    background-color: #90B045;
    top: 25%;
    left: 35%;
    border: 2px solid black;
    border-radius: 2%;
    text-align: center;
}

#edit-popup {
    position: absolute;
    width: 15%;
    height: auto;
    background-color: #90B045;
    top: 25%;
    left: 44%;
    border: 2px solid black;
    border-radius: 2%;
    text-align: center;
}

#tittel {
    position: relative;
    top: 20px;
    left: 85px;
    font-family: verdana;
    width: fit-content;
    height: fit-content;
    margin: 0;
}

#tittel2 {
    position: relative;
    top: -35px;
    left: 410px;
    font-family: verdana;
    width: fit-content;
    height: fit-content;
    margin: 0;
}


#infobox {
    position: relative;
    width: 97%;
    height: auto;
    top: -30px;
    left: 20px;
    right: 10px;
    bottom: 0px;
}

.infobox {
    position: relative;
    top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #90B045;
    margin-top: 10px;
}

.name {
    font-family: Verdana;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: fit-content;
}

.resbilde {
    background-color: #C4C4C4;
    position: relative;
    top: 9px;
    left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

.txtbox {
    position: relative;
    top: -190px;
    left: 391px;
    height: 0px;
    width: 78%;
    font-family: Verdana;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

#picked-background{
    height: 100%;
    width: 100%;
    background-color: rgba(24, 30, 69, 0.8);
    position: absolute;
    display: none;
    top: 0%;
}

#restaurantpicked{
    position: absolute;
    width: 30%;
    height: auto;
    background-color: #90B045;
    top: 25%;
    left: 35%;
    border: 2px solid black;
    border-radius: 2%;
    text-align: center;
}